In [ ]:
# your code

# Задание 1

Город разбит на квадраты и для каждого квадрата известно количество людей, живущих и работающих на территории этого квадрата. Эти данные находятся в файле `data.csv`. Например, на территории квадрата `85881` живет 101 человек и работает 28 человек.

Также город разбит на административные районы, их существенно меньше. Для каждого квадрата известно то, с какими районами он пересекается и по какой части своей площади. Эти данные находятся в файле `area2district.csv`. Например, примерно 38% площади квадрата `91422` составляет район `55`.

От Вас требуется предложить способ (и реализовать его) расчета количества людей, живущих и работающих в каждом административном районе соответственно. Можно считать, что внутри каждого квадрата люди распределены равномерно.

Требования:
   * В каждом районе должно жить и работать целое неотрицательное количество людей
   * Сумма проживающих и работающих жителей города не должна измениться

В данной задаче нет строго критерия оценивания, но важно сделать упор на скорость работы, в частности не рекомендуется пользоваться циклами `for`.

In [127]:
import pandas as pd

df_cell2adm = pd.read_csv('area2district.csv', sep=',')
df_data = pd.read_csv('data.csv', sep=',')

In [128]:
display(df_cell2adm.head())
display(df_cell2adm.shape)
display(df_data.head())
display(df_data.shape)

   areaid  districtid   percent
0   89012         478  1.000000
1  123048          55  0.984496
2   34536           7  1.000000
3   91422          55  0.380014
4  106142          55  0.912069

(217181, 3)

   areaid  home  job
0  144639     1    1
1  146472     1    1
2   18242     2    1
3   85881   101   28
4   27667   136   48

(146296, 3)

In [133]:
#смерджим таблицы по id

df_merged = df_cell2adm.merge(df_data, on='areaid', how='outer')

In [134]:
df_merged['district_job'] = df_merged['job'] * df_merged['percent']
df_merged['district_home'] = df_merged['home'] * df_merged['percent']

In [131]:
df_people.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443 entries, 0 to 442
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   districtid  443 non-null    int64
 1   home        443 non-null    float64
 2   job         443 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 10.5 KB

In [186]:
df_people = (
    df_merged
    .groupby('districtid')
    .agg(home = ('district_home', sum), job = ('district_job', sum))
    .reset_index(drop=True)
)

df_people.head()

           home           job
0  32625.162519  13566.430665
1   3716.605467    535.239616
2  46330.593462  18062.574715
3   3966.771421   1243.848413
4   4833.746494    391.347340

In [195]:
home = df_people.home
job = df_people.job

In [200]:
home

0       32625.162519
1        3716.605467
2       46330.593462
3        3966.771421
4        4833.746494
           ...
438      5557.526529
439     53653.821433
440    125351.117556
441     12271.933242
442      6073.435007
Name: home, Length: 443, dtype: float64

In [198]:
df_people['difference'] = df_people.home.round() - df_people.home
sum_difference = df_people.round().sum() - df_people.sum()

In [191]:

while difference != sum_difference:
    df_people_home

0     -0.162519
1      0.394533
2      0.406538
3      0.228579
4      0.253506
         ...
438    0.473471
439    0.178567
440   -0.117556
441    0.066758
442   -0.435007
Name: home, Length: 443, dtype: float64

In [182]:
df_people.round().sum() - df_people.sum()

home    13.0
job      2.0
dtype: float64

In [185]:
df_people.home.max()

549428.1650516901

In [216]:
df_people.loc[df_people['difference'] == df_people['difference'].max()]

            home           job  difference
70  34819.501499  15018.092445    0.498501

In [ ]:
diff_row = df_people.round() - df_people
diff_sum = df_people.round().sum() - df_people.sum()

stopper = 0
while stopper !=

In [220]:
df_people.home.round() - df_people.home

0     -0.162519
1      0.394533
2      0.406538
3      0.228579
4      0.253506
         ...
438    0.473471
439    0.178567
440   -0.117556
441    0.066758
442   -0.435007
Name: home, Length: 443, dtype: float64

In [189]:
def special_round(ser):
    stopper = 0
    while stopper != diff_sum:
        diff_row = ser.round() - ser
        diff_sum = ser.round().sum() - ser.sum()
        if diff_sum > 0:
            ser.max() += 1
            stopper += 1
        else:
            ser.min() - 1
            stopper += 1

SyntaxError: 'function call' is an illegal expression for augmented assignment (Temp/ipykernel_11584/1049558794.py, line 7)

In [169]:
df_people.home = df_people.home.sum()
df_people

           home           job
0    19160892.0  13566.430665
1    19160892.0    535.239616
2    19160892.0  18062.574715
3    19160892.0   1243.848413
4    19160892.0    391.347340
..          ...           ...
438  19160892.0   1934.038227
439  19160892.0  19837.551282
440  19160892.0  76267.900661
441  19160892.0   4146.642707
442  19160892.0   1853.588929

[443 rows x 2 columns]

In [187]:
df_people.sum()

home    19160892.0
job      9111365.0
dtype: float64

In [188]:
df_data.sum()

areaid    13901796637
home         19160892
job           9111365
dtype: int64